/ToStringTest.class
/Book.class
/EqualsTest.class
/StudentEqualsTest.class
/MyDate.class
/MyDateTest.class
/HashCodeTest.class
/Point.class
/Circle.class
/CloneTest.class
/StringTest.class
/StringBuilderTest.class
