/LibraryTest.class
/Book.class
/StreamTest1.class
/Member.class
/StreamMemberTest.class
/SystemInTest1.class
/SystemInTest2.class
/ScannerTest.class
/ConsoleTest.class
/FileInputStreamTest1.class
/FileInputStreamTest2.class
/FileInputStreamTest3.class
/FileOutputStreamTest1.class
/FileOutputStreamTest2.class
